html {
    font-size: 16px;
    width: 100%;
    height: 100%;
    background-color: #f9db98;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


.calculator-container {
    width: 25.5rem;
    height: 34.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.061rem solid f4f3ee;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 0.35rem 0.31rem #dedfdc;
    background-color: #fdfdff;
}

#display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
    font-size: 2.5rem;
    width: 20rem;
    height: 5rem;
    margin: 0%;
    padding: 1.1rem;
    border: 0.05rem solid #eae6e6;
    border-radius: 0.5rem 0.5rem 0 0;
    background-color: #FFF;
    box-shadow: 0.1rem 0.1rem 0.1rem #dedfdc
}

#buttons {
    width: 20rem;
    height: 25rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 0.1rem 0.1rem 0.1rem #dedfdc;
    border-radius: 0 0 0.5rem 0.5rem;


}

.button {
    width: 5rem;
    height: 5rem;
    border-style: none;
    border: 0.05rem solid #dcd9d3;
    font-size: 1.65rem;
}

.zero {
    width: 10rem;
    height: 5rem;
    border-radius: 0 0 0 0.5rem;
}

.equal {
    border-radius: 0 0 0.5rem 0;

}

.operator,
.clear {
    background-color: #f8dea5;
    border: 0.05rem solid #fcd78c;
}

.button:hover {
    background-color: rgb(218, 215, 215);
}

.operator:hover,
.clear:hover {
    background-color: #f5d582;
}

.button:active {
    background-color: rgb(184, 183, 183);
}

.operator:active,
.clear:active {
    background-color: #f5ce6b;
}